<section>
  <mat-card>
    <mat-card-title>Personal Information</mat-card-title>
    <div class="grid1">
      <p>Name :</p>
      <p>{{ user.name }}</p>
      <p>E-mail :</p>
      <p>{{ user.email }}</p>
      <p>Password :</p>
      <p>***********</p>
      <button mat-button (click)="showUpdateTab = !showUpdateTab">
        Change
      </button>
    </div>
  </mat-card>
  <mat-card *ngIf="showUpdateTab">
    <mat-card-title>Update Information</mat-card-title>
    <form class="grid2" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <p>Name :</p>
      <mat-form-field>
        <input type="text" matInput formControlName="name" />
      </mat-form-field>
      <p>E-mail :</p>
      <mat-form-field>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>
      <p>Confirm Password :</p>
      <mat-form-field>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>
      <button mat-button type="submit">Update</button>
    </form>
  </mat-card>
</section>
