<section class="login" [@fadeIn]>
  <mat-card>
    <i
      class="fa fa-times float-right"
      aria-hidden="true"
      (click)="onCloseLogin()"
    ></i>
    <mat-tab-group
      dynamicHeight="true"
      mat-align-tabs="center"
      [selectedIndex]="tabIndex"
    >
      <mat-tab label="Login">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <label>E-mail:</label>
          <input type="email" class="form-control" formControlName="email" />
          <label>Password:</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
          <button class="btn btn-outline-success" type="submit">Login</button>
          <a class="float-right" [routerLink]="['']">Forgot password?</a>
          <span class="float-right" *ngIf="message">*{{ message }}</span>
        </form>
      </mat-tab>
      <mat-tab label="Signup">
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
          <label>Name:</label>
          <input type="text" class="form-control" formControlName="name" />
          <label>E-mail:</label>
          <input type="email" class="form-control" formControlName="email" />
          <label>Password:</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
          <label>Confirm password:</label>
          <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
          />
          <button class="btn btn-outline-success" type="submit">
            Create Account
          </button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</section>
