<section class="login" [@fadeIn]>
  <mat-card class="mat-elevation-z24">
    <i
      class="fa fa-times float-right"
      aria-hidden="true"
      (click)="onCloseLogin()"
    ></i>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-tab-group
      *ngIf="!isLoading"
      mat-align-tabs="center"
      dynamicHeight="true"
      [selectedIndex]="tabIndex"
    >
      <mat-tab label="Login">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <mat-form-field>
            <mat-label>E-mail:</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password:</mat-label>
            <input type="password" matInput formControlName="password" />
          </mat-form-field>
          <div>
            <mat-spinner [diameter]="30" *ngIf="isRequesting"></mat-spinner>
            <button mat-button type="submit" *ngIf="!isRequesting">Login</button>
            <a class="float-right" [routerLink]="['']">Forgot password?</a>
            <span class="float-right" *ngIf="message">*{{ message }}</span>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Signup">
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
          <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput type="text" formControlName="name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>E-mail:</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput type="password" formControlName="password" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirm password:</mat-label>
            <input matInput type="password" formControlName="confirmPassword" />
          </mat-form-field>
          <mat-spinner [diameter]="30" *ngIf="isRequesting"></mat-spinner>
          <button mat-button type="submit" *ngIf="!isRequesting">
            Create Account
          </button>
          <span class="float-right" *ngIf="signupMessage.show">*{{ signupMessage.message }}</span>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</section>
