p {
  margin: 1rem 1rem;
}
section {
  display: flex;
}
app-playlist {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  section {
    display: block;
  }
  app-playlist {
    width: 100% !important;
  }
}
