<section>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let playlist of playlists; first as first"
      hideToggle
      [expanded]="first"
    >
      <mat-expansion-panel-header>
        {{ playlist.name }}
      </mat-expansion-panel-header>
      <mat-list *ngIf="playlist.videos.length === 0">
        <mat-list-item>
          Please add some videos to playlist
        </mat-list-item>
      </mat-list>
      <mat-list *ngIf="playlist.videos.length > 0">
        <mat-list-item
          *ngFor="let video of playlist.videos; last as last"
          [matTooltip]="video.title"
          (click)="onPlayVideo(video.videoId, video.title, playlist)"
        >
          <mat-icon mat-list-icon>music_video</mat-icon>
          <h4 mat-line>{{ video.title }}</h4>
          <mat-divider *ngIf="!last"></mat-divider>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</section>
