ul {
  list-style: none;
  padding: 0.4rem;
}
form mat-icon {
  margin: 0 0.8rem;
  cursor: pointer;
  color: #ffffff;
}
form {
  background: #272727;
  padding: 0.8rem;
}
section {
  max-height: 30rem;
  padding: 1rem;
  overflow: auto;
}
mat-accordian {
  width: 100%;
}
