<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<mat-drawer-container>
  <mat-drawer #drawer mode="side" opened>
    <div class="details" *ngIf="!isLoading">
      <p>
        <i class="fas fa-user-circle"></i>
        {{ user.name }}
      </p>
      <p>{{ user.email }}</p>
    </div>
    <section class="sections" *ngIf="!isLoading">
      <mat-list>
        <h3 matSubheader>Settings</h3>
        <mat-list-item
          [routerLink]="['/settings/general']"
          routerLinkActive="active"
        >
          <mat-icon matListIcon>settings</mat-icon>
          <h4 matLine>General</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <ng-container *ngIf="playlists.length > 0">
          <h3 matSubheader>Playlists</h3>
          <mat-list-item
            *ngFor="let playlist of playlists; let id = index"
            [routerLink]="['/settings/editPlaylist', playlist._id]"
            routerLinkActive="active"
          >
            <mat-icon matListIcon>queue_music</mat-icon>
            <h4 matLine>{{ playlist.name }}</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
        <h3 matSubheader>Options</h3>
        <mat-list-item (click)="onCreatePlaylist()">
          <mat-icon matListIcon>playlist_add</mat-icon>
          <h4 matLine>Create Playlist</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 matSubheader>Information</h3>
        <mat-list-item>
          <mat-icon matListIcon>group</mat-icon>
          <h4 matLine>About Us</h4>
        </mat-list-item>
      </mat-list>
    </section>
  </mat-drawer>
  <mat-drawer-content [class.overlay]="showPanel">
    <div class="menu" [class.change]="showPanel" (click)="drawer.toggle(); showPanel = !showPanel">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <div [class.router-hide]="showPanel">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
